body{
    background-color: #6A11CB;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.newaccount{
    background-color: white;
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #8B5CF6;
}

h2{
    text-align: center;
    color: #6A11CB;
}

input{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid gray;
}

button{
    width: 100%;
    padding: 10px;
    background-color: #6A11CB;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: #4B0082;
}

a{
    text-decoration: none;
    color: #6A11CB;
}

p{
    text-align: center;
}
@media screen and (max-width:600px){

    .newaccount{
        width:90%;
        padding:15px;
    }

    input{
        width:100%;
        box-sizing:border-box;
    }

    button{
        width:100%;
    }

    h2{
        font-size:22px;
    }
}